.row
  .small-12.medium-4.medium-centered.large-4.large-centered.columns
    = form_tag '/login', method: :post do
      .row
        .small-12.columns
          = label_tag :email, 'Email'
          = email_field_tag :email, '', placeholder: 'Email'
      .row
        .small-12.columns
          = label_tag :password, 'Password'
          = password_field_tag :password, '', placeholder: 'Password'
      .row
        %div.small-12.medium-12.large-6.large-centered.medium-centered.column
          = button_tag 'Login', class: 'button success expanded'
