%nav.top-bar{data: {topbar: ''}, role: 'navigation'}
  %ul.title-area
    %li.name
      %h1
        = link_to 'Phonebank Duel', root_path
    %li.toggle-topbar.menu-icon
      = link_to '#' do
        %span Menu
  %section.top-bar-section
    %ul.right
      - if !current_user
        %li
          = link_to 'Register', register_path
        %li
          = link_to 'Login', login_path
      - else
        %li.cta
          = link_to "Report In", '#', 'data-reveal-id' => 'reportModal'
        %li.has-dropdown
          = link_to current_user, internal_root_path
          %ul.dropdown
            %li
              = link_to 'Logout', logout_path, method: :delete
        = render partial: 'outreach_reports/new'
