!!!
%html
  %head
    %title Phonebank Duel
    = javascript_include_tag "vendor/modernizr"

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #mainPanel
      = render partial: 'shared/header'
      .row.expanded.collapse#mainPanel
        .medium-3.large-2.columns
          .hide-for-small
            = render partial: 'internal/shared/sidebar'
        .medium-9.large-10.columns
          = render partial: 'shared/flash'
          = yield
